{% import 'bootstrap/wtf.html' as wtf %}
<head> 
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
{% block app_content %}
<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
			</div>
			<div class="card-body">
					<form action="" method="post">
							{{ form.hidden_tag() }}
							  <div class="form-group">
								<br>
                                <label for="">Username</label>
                                {{ form.username(size=32, class_ ='form-control',placeholder="Username") }}
								<!-- <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email"> -->
								<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
							  </div>
							  <div class="form-group">
								<label for="exampleInputPassword1">Password</label>
								<!-- <input type="password" class="form-control" id="InputPassword" placeholder="Password"> -->
								{{ form.password(size=32, class_='form-control',placeholder="Password") }}
                              </div>
                              <br>
                              <div class="form-group">
							  <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                              {{ form.submit(class_='btn btn-primary') }}
                              </div>
						</form>
			</div>
            <div class="card-footer">
				<div class="d-flex justify-content-center links">
					<a href="{{ url_for('register') }}">Don't have an account?</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
{% endblock %}